/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul , ol {
    list-style: none;
}

/* GENERAL */

#principal {
    display: flex;
    height: calc(100vh - 100px);
}

aside {
    width: 300px;
    position: relative;
}

main {
    width: 100%;
    overflow: auto;
}

footer {
    height: 100px;
}

/* 
        ASIDE
*/

aside * {
    padding: 5px;
    color: grey;
}

aside .logo {
    width: 80%;
}

aside .landing-pages i{
    font-size: 2rem;
    margin-right: 20px;
    vertical-align: middle;
}

aside section #playlist h3,
aside #aside-footer div:last-child a{
    color: white;
}

aside #aside-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

aside #aside-footer div:first-child {
    border-bottom: 1px solid gray;
}

aside #aside-footer div:last-child {
    font-size: 1.5em;
    font-weight: 600;
}

/* 
        MAIN
*/

main section:not(:first-child) {
    margin-bottom: 50px;
}

/* 
    upgrade
*/

#upgrade {
    width: 100%;
    height: 80px;
    opacity: .8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
}

#upgrade-button a {
    border: 1px solid white;
    margin: 10px;
    padding: 10px 25px;
    border-radius: 20px;
}



/* 
    menu
*/

.menu {
    margin: 20px auto;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li a {
    margin: 0 10px;
    font-size: .9em;
}



/* 
    card
*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
}

.card {
    width: calc(90% / 6);
    text-align: center;
}

.card * {
    margin-bottom: 10px;
}

.card div p {
    color: gray;
    font-size: .8em;
}

.user-suggest-card,
.popular-card {
    display: flex;
}

.user-suggest-card .card,
.popular-card .card {
    margin-right: 20px;
}

.popular-card .card img {
    border-radius: 1000px;
}


/* 
        FOOTER
*/

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container > * {
    width: calc(90% / 3);
}

.footer-container #footer-left {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.footer-container #footer-left .info-song {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container #footer-left #info-song-img {
    width: 30%;
    padding: 13px;
}

.footer-container #footer-left #info-song-img img{
    width: 100%;
}


/* footer center */

.controls {
    width: 50%;
    margin: 10px auto;
}

.controls ul{
    display: flex;
    align-items: center;
}

.controls .fa-regular{
    font-size: 2rem;
}

.controls ul li a {
    padding: 10px;
}

.song-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-bar > * {
    margin: auto 6px;
}

.song-bar .song-time {
    font-size: .7rem;
}

.bar-progress {
    background-color: white;
    width: 100%;
    height: 4px;
    border-radius: 20px;
}


/* footer right */

#footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#footer-right > * {
    margin: 10px;
}

#footer-right .bar-progress {
    width: 30%;
}

/* DEBUG */

.debug aside {
    background-color: cadetblue;
}

.debug main {
    background-color: lightseagreen;
    border: 3px dashed red;
}

.debug footer {
    background-color: pink;
}

.debug .card {
    border: 1px dashed red;
}

.debug #upgrade {
    background-color: gray;
}

.debug #upgrade-button {
    background-color: crimson;
}

.debug #upgrade-button a {
    vertical-align: middle;
}